.wrapper {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: calc(100 * var(--lvh));
  background: linear-gradient(#cfd8e0, #e8ecef);
  pointer-events: auto;
  touch-action: none;
}

.wrapper canvas {
  opacity: 0;
  transition: opacity 1.2s linear;
}

.ready canvas {
  opacity: 1;
}
